<ion-view view-title="Weather">
<div class="bar bar-header bar-balanced">
  <h1 class="title">Weather</h1>
</div>
  <ion-content ng-init="location()" class="has-header">
    
	<div style="background-image:url(img/{{image}});" class="wholeContainer">
		<div  class="weatherInfo">
			<img src="{{weatherObject.weather[0].icon.png}}">
			<i class="icon {{icon}} weatherIcon"></i>

			<p >
				<i class="icon {{locationIcon}} location"></i> 
				{{weatherObject.name}} {{comma}} {{weatherObject.sys.country}}
			</p>
			<p>{{temperature}} <sup>{{degrees}}</sup>{{celcius}}</p>

		    <p>{{weatherObject.weather[0].description}}</p>
		    <center><p class="network">{{network}}</p></center>
		</div>
	</div>

	<div class="buttonDiv">
		<center>
			<button class="button button-balanced ion-android-refresh" ng-click="location()"> Reload</button>
		</center>
	</div>


  </ion-content>
</ion-view>
